$heading: (
	colors: global-settings(colors),
	sizes: (
		mobile: (
			default: (
				font-size: 20px,
				line-height: 1,
			),
			big: (
				font-size: 32px,
				line-height: 1,
			),
			superbig: (
				font-size: 46px,
				line-height: 1,
			),
		),
		tablet: (
			default: (
				font-size: 30px,
				line-height: 1,
			),
			big: (
				font-size: 50px,
				line-height: 1,
			),
			superbig: (
				font-size: 70px,
				line-height: 1,
			),
		),
	)
);

.heading {
	@extend %heading-reset;
	font-weight: bold;
	color: map-get-deep($heading, colors, primary);

	&__color {
		@include modifiers-deep($heading, colors, color);
	}

	&__size {
		@include responsive-modifiers($heading, sizes);

		&--superbig {
			text-transform: uppercase;
			margin-top: global-settings(gutters, big);
		}
	}

	&__align {
		@include text-align-modifiers;
	}
}
