@import '~swiper/swiper.scss';

.block-carousel {
	overflow: visible;

	&__item {
		flex-shrink: 0;
		// width: 100%;
		transition-property: transform;
		display: flex;
	}

	&__item-inner {
		align-items: center;
		display: flex;
		width: 100%;
	}

	&__item-prev,
	&__item-next {
		opacity: 0.8;
	}

	&__navigation {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-top: 20px;
		font-weight: bold;
	}

	&__arrow-prev,
	&__arrow-next {
		margin: 0 10px;

		&:hover {
			filter: brightness(0.7);
		}
	}

	&__pagination {
		margin: 0 10px;
	}

	.block-image__image {
		margin: 0 auto;
	}
}
