$article: (
	padding: 15px
);

.block-latest-posts {
	&__posts {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: -#{map-get-strict($article, padding)};
		margin-right: -#{map-get-strict($article, padding)};
	}

	&__post {
		@include flex-column-width(4);
		padding: map-get-strict($article, padding);
		height: 100%;
	}

	&__image {
		margin-bottom: 10px;
		height: 250px;
		object-fit: cover;
	}

	&__published {
		display: block;
		margin-bottom: 5px;
		color: global-settings(colors, light);
	}

	&__heading {
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		display: -webkit-box;
		margin-bottom: 10px;
		height: 90px;
		overflow: hidden;
		word-break: break-all;
	}

	&__paragraph {
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;
		display: -webkit-box;
		margin-bottom: 10px;
		height: 90px;
		overflow: hidden;
		word-break: break-all;
	}

	&__categories {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	&__category {
		background-color: global-settings(colors, light);
		border-radius: 10px;
		margin: 5px 5px 0 0;
		padding: 4px 8px;
	}

	&__btn-wrap {
		margin-top: 30px;
	}
	
	&__btn {
		background-color: global-settings(colors, pink);
	}
}