$article: (
	padding: 15px,
	site-padding: global-settings(gutters, default),
	sizes: (
		mobile: (
			flex: 0 0 100%,
			max-width: 100%
		),
		tablet: (
			flex: 0 0 50%,
			max-width: 50%
		),
		desktop: (
			flex: 0 0 25%,
			max-width: 25%
		),
	),
);

.block-latest-posts {
	&__posts {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: -#{map-get-strict($article, padding)};
		margin-right: -#{map-get-strict($article, padding)};
	}

	&__post {
		@include responsive($article, sizes);
		padding: map-get-strict($article, padding);
		height: 100%;
	}

	&__image {
		margin-bottom: 10px;
		height: 250px;
		object-fit: cover;
	}

	&__published {
		display: block;
		margin-bottom: 5px;
		color: global-settings(colors, light);
	}

	&__heading {
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		display: -webkit-box;
		margin-bottom: 10px;
		height: 90px;
		overflow: hidden;
		word-break: break-all;
	}

	&__paragraph {
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;
		display: -webkit-box;
		margin-bottom: 10px;
		height: 90px;
		overflow: hidden;
		word-break: break-all;
	}

	&__categories {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	&__category {
		background-color: global-settings(colors, light);
		border-radius: 10px;
		margin: 5px 5px 0 0;
		padding: 4px 8px;
	}

	&__btn-wrap {
		margin-top: map-get-strict($article, site-padding) * 2;
	}	
}