$menu-horizontal-header: (
	link-padding: 0 15px,
	link-modifiers: (
		normal: (
			color: global-settings(colors, black),
		),
		hover: (
			color: global-settings(colors, pink),
		)
	),
);

.menu-horizontal-header {
	@extend %list-reset;
	$this: &;
	height: 100%;
	display: flex;
	align-items: center;
	font-weight: bold;

	&__link {
		text-decoration: none;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: map-get-strict($menu-horizontal-header, link-padding);
		transition: 0.3s color ease-in-out;

		@include link($menu-horizontal-header, link-modifiers);
	}

	&__item {
		&:last-child {
			#{$this}__link {
				@extend .btn;
			}
		}
	}
}
